@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;600;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
}

:root {
  --blue: #287bff;
  --white: #ffffff;
  --grey: #5f6368;
  --black1: #222;
  --black2: #999;
  --yelow: #feefc3;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 100px;
  height: 100%;
  background: var(--white);
  border-left: 10px solid var(--grey);
  transition: 0.5s;
  overflow: hidden;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 200%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover {
  background: var(--yelow);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a {
  color: var(--white);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-height: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  color: var(--grey);
  margin-left: 0.85rem;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  text-align: start;
  color: var(--grey);
}
/* Curva externa */
.navigation ul li:hover a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
